body{
    background-color: rgba(255, 255, 255, 0.5);
}
  
  .tab.active a {
    color: rgb(9, 80, 212); /* Change the color of the active menu item */
  }
  
  .tab.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: rgb(9, 80, 212);; /* Change the color of the active tab indicator */
    transform: translateX(-50%);
  } */
  .head{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-tap-highlight-color: transparent;
    height: auto;
    hanging-punctuation: 40px;
    line-height:auto;   
    height: 70px;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align:center;
    justify-content:space-between;
  }
  .nav{
    /* background-color:rgba(255, 255, 255, 0.5); */
    height: auto;
    hanging-punctuation: 40px;
    line-height:auto;   
    height: 70px;
    align-items: center;
    /* justify-content: center; */
  }
  img{
    height:  70px;
    direction: ltr;
  }
  

  .nav-tabs .nav-item .nav-link {
    color: #333; /* Change the color of the menu items */
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: rgb(9, 80, 212);; /* Change the color of the active menu item */
  }
  
  
  .nav-tabs .nav-item {
    margin-right: 20px; /* Add extra space between columns */
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.5); */

  }
  .nav.nav-tabs {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.5);

  }
  .nav-tabs .nav-link.active {
    /* background-color: transparent; */
    background:none;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  p{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: rgba(6, 73, 135, 0.737);
  }
  
      